html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  background-color: rgb(196, 190, 190);
}

.img{
  padding:10px;
}

a {
  color: black;
  text-decoration-line: none;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding: 1em;
}
